*    { margin : 0; padding : 0; }
html { font-size : 16px; }
body {
    overflow         : hidden;
    font-family      : 'Do Hyeon', sans-serif;
    color            : #33342E;
    background-color : #F2F2F2;
}


.text-color-default { color : #33342E; }
.text-color-red     { color : #F64C42; }
.text-color-blue    { color : #5DA4F8; }
.text-color-gray    { color : #A2A2A2; }

.background-color-default { background-color : #F2F2F2; }
.background-color-red     { background-color : #F64C42; }
.background-color-blue    { background-color : #5DA4F8; }
.background-color-gray    { background-color : #D9D9D9; }
.background-color-white   { background-color : #FEFEFE; }
.background-color-black   { background-color : #33342E; }

.daseul { background-color : #F64C42 }
.dowon  { background-color : #F3A63F }
.sujee  { background-color : #FBDE3E }
.sujin  { background-color : #6CC77F }
.sion   { background-color : #43DEE4 }
.yujin  { background-color : #5DA4F8 }
.jueun  { background-color : #9497EE }
.haeun  { background-color : #FDAABF }
.notyet { background-color : #E2E2E2 }


/* ========== common start ========== */
.full-screen {
    width  : 100vw;
    height : 100vh;
}

.center-vertical-items {
    display : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
}

.center-horizontal-items {
    display : flex;
    justify-content : center;
    align-items : center;
}
/* ========== common end ============ */

/* ========== section start ========= */
.section-overview-head {
    width : 100vw;
    text-align : center;

    color : #F2F2F2;
    font-size : 4vh;
    background-color : #33342E;
}

.section-history {
    width : 100vw;
    margin-bottom: 5vh;
    overflow : auto;
}

#income .section-overview-head { height : 20vh; }
#income .section-history       { height : 75vh; }

#expense .section-overview-head { height : 10vh; }
#expense .section-history       { height : 85vh; }

.section-keypad {
    width  : 100vw;
    height : 65vh;
    text-align : center;
    font-size : 3vh;
}
/* ========== section end =========== */

/* ========== wrap start ============ */
.wrap-summary-item div {
    margin  : 0 2vh;
    display : inline-block;
}
.wrap-summary-item .text-price { float: right; }

.wrap-income-item {
    width  : 100vw;
    height : 10vh;
    margin-top : 0.3vh;
}
.wrap-income-item .text-date   { width : 20vw; }
.wrap-income-item .text-price  { width : 30vw; }
.wrap-income-item .text-people { width : 30vw; display: flex; }

.wrap-password-circle {
    width   : 100vw;
    text-align : center;
}

.wrap-expense-item { margin-top : 2vh; }
.wrap-expense-item .wrap-overview {
    height : 8vh;
    margin : 0 10vw;
    border-radius :15px;
}
.wrap-expense-item .wrap-overview .text-date  { width : 45vw; }
.wrap-expense-item .wrap-overview .text-place { width : 45vw; }
.wrap-expense-item .wrap-overview .text-price { width : 20vw; }

.wrap-detail {
    margin : 1vh 0;
}
.wrap-expense-item .wrap-detail .text-date  { width : 15vw; }
.wrap-expense-item .wrap-detail .text-shop  { width : 30vw; }
.wrap-expense-item .wrap-detail .text-price { width : 22vw; }
/* ========== wrap end ============== */

/* ========== modal start =========== */
.modal {
    top  : 0;
    left : 0;
    width  : 100vw;
    height : 100vh;

    display  : none;
    position : fixed;

    background-color : rgba( 0, 0, 0, 0.7 );
}

#income .modal-content {
    top  : 50vh;
    left : 0;
    width  : 100vw;
    height : 50vh;
    padding-top : 20px;

    position : fixed;
    border-top-left-radius  : 20px;
    border-top-right-radius : 20px;
}

.modal-head {
    width  : 100vw;
    text-align : center;
}

#income .modal-head p {
    margin-left : -6vh;
    padding     : 2vh 0;
    display    : inline-block;
}

#expense .circle-mini  { margin : 0 1px; }
#income  .circle-small { margin : 0 0.8vw; }
#income  .circle-big   { margin : 0 2vw; }
/* ========== modal end ============= */

/* ========== alert start =========== */
.alert {
    top  : 0;
    left : 0;
    width  : 100vw;
    height : 100vh;

    display    : none;
    position   : fixed;
    text-align : center;
}

.alert div {
    padding : 1vh 4vh;
    position   : absolute;
    text-align : center;
    border-radius : 7px;
    transform : translate(-50%, -50%);

    font-size : 2vh;
    color : #F2F2F2;
    background-color : rgba( 0, 0, 0, 0.7 );   
}

#income .alert div {
    top  : 40vh;
    left : 50vw;
}
/* ========== alert end ============= */

/* ========== button start ========== */
.btn-show-history {
    width   : 20vh;
    height  : 6vh;
    margin  : 1vh auto;

    cursor  : pointer;
    font    : inherit;
    display : block;
    border  : none;
    border-radius : 40px;

    font-size : 3vh;
    color     : #F2F2F2;
}

.bnt-hyperlink {
    cursor: pointer;
    font-size : 1.8vh;
}

.btn-close {
    cursor : pointer;
    font-size : 4vh;
}
#income .modal .btn-close { padding-left : 4vh; float  : left; }

.btn-keypad {
    width  : 25vw;
    margin : 1.5vh 0;

    cursor : pointer;
    display : inline-block;
}

#expense .btn-show-detail { cursor : pointer; }
/* ========== button end ============ */

/* ========== text start ============ */
.wrap-summary-item { font-size : 3vh; }
.modal-head p      { font-size : 3vh; }

.wrap-income-item .text-date  { font-size : 2vh; }
.wrap-income-item .text-price { font-size : 2.5vh; }

.wrap-expense-item .wrap-overview .text-date  { font-size : 1vh; }
.wrap-expense-item .wrap-overview .text-price { font-size : 2.5vh; }
.wrap-expense-item .wrap-overview .text-place { font-size : 2vh; }

.wrap-expense-item .wrap-detail .text-date  { font-size : 1.5vh; }
.wrap-expense-item .wrap-detail .text-shop  { font-size : 1.5vh; }
.wrap-expense-item .wrap-detail .text-price { font-size : 2vh; }
/* ========== text end ============== */

.circle-mini {
    width  : 0.6vh;
    height : 0.6vh;
    border-radius : 0.3vh;
}

.circle-small {
    width  : 1.6vw;
    height : 1.6vw;
    border-radius : 0.8vw;
}

.circle-big {
    width  : 4vh;
    height : 4vh;
    border-radius : 2vh;
}

#copyright {
    bottom : 0;
    width  : 100vw;
    height : 4vh;

    padding-top : 1vh;
    
    position   : fixed;
    text-align : center;
    
    font-size : 2vh;
    color     : #C0C0C0;
}



/******************************
 * Mobile Responsive App Start
 ******************************/

/* mobile */
@media (max-width: 767px) {
    /*html { font-size: 16px; }*/

    /*.div-income-overview { height : 18vh; }*/
    /*.div-income-body     { height : 74vh; margin-bottom: 8vh; }*/
    /*.div-income-monthly  { height : 8vh; }*/

    @media only screen and (orientation: landscape) {
        /*.div-income-monthly  { height : 10vh; }*/
    }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1024px){ 
    /*html { font-size: 30px; }*/

    @media only screen and (orientation: landscape) {
    }
}

/* desktop */
@media (min-width: 1025px) {
    /*html { font-size: 30px; }*/

    @media only screen and (orientation: landscape) {
    }
}
